@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
body a,
body {
  color: #404040; }
  body a .container,
  body .container {
    border: 2px inset rgba(0, 0, 0, 0.1);
    padding-left: 0; }

aside {
  background-color: #80DEEA;
  height: 100%; }
  aside img {
    border: 5px solid rgba(70, 70, 70, 0.1);
    max-height: 220px; }
  aside .loisirs img {
    border: 2px solid black; }
  aside h3 {
    background-color: #404040;
    color: #80DEEA;
    text-transform: uppercase;
    padding: 10px 0; }
  aside section:nth-child(2) {
    font-weight: 500; }
  aside li {
    list-style: none; }
  aside a {
    text-decoration: none; }

footer > h2 > i,
main li::before,
main > section > h2 > i {
  color: #80DEEA; }

main h2 {
  border-bottom: 2px solid #80DEEA;
  text-transform: uppercase; }

main h4 {
  font-size: 1.2em; }

main h5 {
  font-size: 1em; }

main li::before {
  content: '\2022';
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -28px;
  top: -15px;
  color: #80DEEA;
  font-size: 40px; }

main section li {
  list-style: none; }

main section li:first-child article {
  margin-top: -2em; }

main section li:first-child::before {
  font-size: 1em;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f192"; }

main article p:first-child {
  font-weight: 500; }

h1 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 3.4em; }
  h1 em {
    font-style: normal;
    color: #80DEEA;
    font-weight: 500; }

h2 span {
  border-bottom: 2px solid #80DEEA; }

footer h2 {
  border-bottom: 2px solid #80DEEA;
  text-transform: uppercase; }

@media only screen and (max-width: 991px) {
  aside .img-fluid {
    max-width: 75%; } }

@media only screen and (max-width: 500px) {
  footer h2,
  main h2 {
    color: red;
    font-size: 1.1em; }
  footer .row,
  header {
    text-align: center; }
    footer .row h2,
    header h2 {
      font-size: 1.1em; } }

@media only screen and (max-width: 768px) {
  .container .row {
    margin-left: 0; } }

@media only print {
  @page {
    size: 330mm 427mm;
    margin: 14mm; }
  .container {
    width: 1200px; }
    .container .container-aside {
      max-width: 35%; }
      .container .container-aside i {
        font-size: 2em; }
    .container .container-main {
      max-width: 65%; } }
